<?xml version="1.0" encoding="UTF-8"?>
<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false"
         bootstrap="vendor/autoload.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5/phpunit.xsd"
         cacheDirectory=".phpunit.cache"
         backupStaticProperties="false">
  <php>
    <env name="CHROME_RUNNER_HOST" value="localhost"/>
    <env name="CHROME_RUNNER_PORT" value="9006"/>
    <env name="FIREFOX_RUNNER_HOST" value="localhost"/>
    <env name="FIREFOX_RUNNER_PORT" value="9007"/>
    <env name="COMPILER_PORT" value="9005"/>
    <env name="DELEGATOR_PORT" value="9008"/>
  </php>
  <testsuites>
    <testsuite name="Default Test Suite">
      <directory>tests/Unit</directory>
      <exclude>tests/build/</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">./src</directory>
    </include>
  </source>
</phpunit>
